*{
    margin: 0;
    padding: 20px;
}
body {
    padding: 0;
    /* background-color: #021c21; */
}
g {
    fill: #5d5d5d;
    stroke: #FFFFFF;
    stroke-width: 0.25;
}
g:hover {
    fill: #006284;
    transition: 0.5s;
    cursor: pointer;
}