/*fonts*/
@font-face {
    font-family: Jakarta;
    src: url('../fonts/PlusJakartaSans-Regular.ttf');
}

@font-face {
    font-family: Lexend;
    src: url('../fonts/LexendDeca-Regular.ttf');
}

/*global*/

html {
    scroll-behavior: smooth;
    user-select: none;
    overflow-x: hidden;
} 

* {
    margin: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
}

g {
    fill: #5d5d5d;
    stroke: #FFFFFF;
    stroke-width: 0.25;
}
g:hover {
    fill: #006284;
    transition: 0.5s;
    cursor: pointer;
}

.redirectLink {
    color: #2CA464;
    text-decoration: none;
}

/*header styling*/
h2 {
    font-family: Lexend;
}

h5 {
    font-family: Lexend;
}

/* header */

.mapHeader {
    position: absolute;
    display: flex;
    align-items: center;
}

.showSidebar a {
    margin-right: 10px;
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    background: rgba(255, 255, 255, 0.5);
}

/* map slider */

.mapSlider {
    position: absolute;
    width: 90%;
    margin: 0 20px;
    top: 10px;
    left: 100px;
    display: flex;
    flex-direction: column;
	align-items: stretch;
}

.sliderOptions{
    z-index: 1;
    display: flex;
    bottom: -20px;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    font-family: "Lexend";
    font-size: 12px;
}

.sliderOptions .timelinePrev {
    background: #FFFFFF;
    font-size: 14px;
    transform: scale(1.5);
    cursor: pointer;
}

.sliderOptions .timelineNext {
    background: #FFFFFF;
    font-size: 14px;
    transform: scale(1.5);
    color: #A6A6A6;
    cursor: default;
}

.sliderOptions input[type=radio]{
    accent-color: #000000;
    cursor: pointer;
    transform: scale(1.3);
}

.timelineOption {
    text-align: center;
}

.timelineOption label {
    display: block;
}

.sliderLine {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #000000;
    border-width: 2px;
    border-color: #A6A6A6;
}

/* popover */

.popover {
    text-align: center;
    font-family: "Lexend";
}

/* modal */

.modal-content {
    text-align: justify;
    padding: 30px;
    transition: opacity 0.3s ease;
}

.modal-title {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    color: #3E3E3E;
    font-family: Lexend;
}

.modal-header {
    border-bottom: solid #D0D0D0 2px;
}

.reportDescription {
    font-size: 15px;
    color: #3E3E3E;
    text-align: center;
    line-height: 20px;
    margin-bottom: 20px;
}

#reportContentHeader {
    margin-top: -20px;
}

.inputVariant {
    color: #3E3E3E;
    border-radius: 20px;
    border: solid #B0BEC5 2px;
    font-family: Lexend;
    font-size: 15px;
    height: 30px;
    padding: 0px 15px;
    width: 100%;
}

#reportContentModal {
    font-family: Lexend;
}

#reportContentModal textarea {
    color: #3E3E3E;
    border-radius: 20px;
    border: solid #B0BEC5 2px;
    font-family: Lexend;
    font-size: 15px;
    height: 120px;
    padding: 10px 15px;
    width: 100%;
    resize: none;
    margin-top: 10px;
}

#reportContentModal .reportContentHeader {
    font-family: Lexend;
}

.commUploadImg {
    width: 40px;
    margin: 10px;
}

#reportUserModal {
    font-family: Lexend;
}

#reportUserModal textarea {
    color: #3E3E3E;
    border-radius: 20px;
    border: solid #B0BEC5 2px;
    font-size: 15px;
    height: 120px;
    padding: 10px 15px;
    width: 100%;
    resize: none;
    margin-top: 10px;
}

#reportUserModal .modal-header {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}

#reportUserModal .modal-header .modal-title {
    margin-top: 10px;
}

#reportUserModal .modal-header .inputVariant {
    margin-top: 10px;
    text-align: center;
}

/* map */
.mapContainer {
    width: 100%; 
    height: 100%;
    margin: 0 !important; 
    padding: 0 !important;
}

.mapFilter {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    background-color: #000000;
    opacity: 0.5;
    border-radius: 0 0 0 15px;
    font-family: "Lexend";
    font-size: 12px;
    color: #FFFFFF;
}

.mapFilter p {
    color: white;
    font-size: 15px;
    margin-bottom: 5px !important;
}

.searchCountryInput {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    font-family: "Lexend";
    background:transparent;
    border-style: solid;
    border-color: #FFFFFF;
    border-radius: 15px;
    padding: 10px;
    color: #FFFFFF;
}

.mapFilter select {
    background: transparent;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: #FFFFFF;
    border-radius: 15px;
    padding: 5px;
    width: 100%;
    cursor: pointer;
}

.mapFilter select:focus {
    outline: none;
}

.mapFilter select option {
    color: #000000;
}

.mapPopupSettings {
    display: flex;
    align-items: center;
}

.mapPopupSettings label {
    margin-left: 5px;
    margin-bottom: 0;
}

.mapHelpButton {
    width: 100%;
    padding: 3px;
    background: transparent;
    color: #FFFFFF;
    border-style: solid;
    border-color: #FFFFFF;
    border-radius: 15px;
    cursor: pointer;
}

.mapKeys .dot {
    height: 8px;
    width: 8px;
    background-color: #A6A6A6;
    margin-right: 5px;
    border-radius: 50%;
    display: inline-block;
}

.mapKeys {
    position: absolute;
    bottom: 80px;
    left: 115px;
    padding: 20px;
    background-color: white;
    opacity: 0.8;
    border-radius: 15px;
    font-family: "Lexend", sans-serif;
    font-size: 12px;
    z-index: 1;
    height: 200px;
}

.mapPin {
    cursor: pointer;
}

/* overlays */
.timelineOverlay {
    /* display: none; */
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}

.timelineOverlayText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: "Lexend";
    color: #FFFFFF;
    cursor: pointer;
}

.timelineOverlayText h1 {
    font-size: 150px;
}

.timelineOverlayText p {
    color: #FFFFFF;
}

.helpOverlay{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
    cursor: pointer;
}

.pinOverlay {
    /* display: none; */
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 10;
}

.pinOverlayContainer {
    color: white;
    font-family: Lexend;
    margin: 0px 150px;
}

.pinOverlayContainer h1 {
    padding: 15px 0;
    font-weight: 600;
    border-bottom: solid #D0D0D0 2px;
}

.pinOverlayContainer p {
    border-bottom: solid #D0D0D0 2px !important;
    padding: 15px 0;
    color: white !important;
    text-align: justify;
}

.pinOverlayContainer .col-7 {
    padding-left: 100px;
}

.pinOverlayContainer .col-7 img {
    border-radius: 100px;
    width: 110px;
}

.pinOverlayRelation {
    margin-right: 20px; 
}

.pinOverlayContainer .pinOverlayRelation p {
    border-bottom: none !important;
    padding-top: 5px;
    margin: 0 !important;
}

.pinOverlayContainer .col-5 {
    padding-right: 100px;
}

.pinOverlayContainer .col-5 img {
    width: 100%;
    padding: 12.5px 0;
}

.pinOverlayVideo {
    width: 100%;
}

/* calendar */
.calendarContainer {
    padding: 25px;
}
.calendar {
    display: flex;
    flex-flow: column;
    font-family: "Lexend";
}
.calendar .header .month-year {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    padding: 0 10px 10px 10px;
}
.calendar .days {
    display: flex;
    flex-flow: wrap;
}
.calendar .days .day_name {
    width: calc(100% / 7);
    display: flex;
    justify-content: center;
    border-right: 1px solid #FFFFFF;
    padding: 15px;
    background-color: #808080;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    align-text: center;
    color: #FFFFFF;
}
.calendar .days .day_name:nth-child(7) {
    border: none;
}
.calendar .days .day_num {
    width: calc(100% / 7);
    min-height: 100px;
    display: flex;
    flex-flow: column;
    border-right: 1px solid #808080;
    border-bottom: 1px solid #808080;
    padding: 15px;
    font-weight: bold;
    color: #363636;
}
.calendar .days .day_num span {
    display: inline-flex;
    width: 30px;
    font-size: 14px;
}
.calendar .days .day_num .calendarEvent {
    margin-top: 10px;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    padding: 3px 6px;
    border-radius: 4px;
    color: #FFFFFF;
    word-wrap: break-word;
    cursor: pointer;
}
.calendar .days .day_num:nth-child(7n+1) {
    border-left: 1px solid #808080;
}
.calendar .days .day_num:hover {
    background-color: #FDFDFD;
}
.calendar .days .day_num.ignore {
    background-color: #FDFDFD;
    color: #A6A6A6;
    cursor: inherit;
}
.calendar .days .day_num.selected {
    background-color: #E0E0E0;
}
.month-year {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.calendarFilter {
    display:flex;
    justify-content: flex-end;
}
.calendarFilter span {
    font-size: 12px;
}
.calendarReligion {
    border-radius: 15px;
    margin:0 5px 0 0;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    font-size: 12px;
    font-weight: normal;
    color: #FFFFFF;
}
.calendarMonth {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.calendarMonthButton {
    border: none;
    border-radius: 10px;
    background: none;
    font-size: 25px;
    cursor: pointer;
}
.calendar .days .day_num .calendarEvent.Buddhism {
    background-color: #BAA400;
}
.calendar .days .day_num .calendarEvent.Christianity {
    background-color: #56097A;
}
.calendar .days .day_num .calendarEvent.Hinduism {
    background-color: #A81315;
}
.calendar .days .day_num .calendarEvent.Islam {
    background-color: #018744;
}
.calendar .days .day_num .calendarEvent.Judaism {
    background-color: #1334A8;
}
.monthButton {
    cursor: pointer;
}

#calendarEventModal button[type="button"]:first-child {
    height: 50px;
    line-height: 15px;
    background-color: #2CA464;
    border: solid #2CA464 2px;
    border-radius: 15px;
    margin-bottom: 10px;
    color: white;
    margin: 5px;
    font-family: Lexend;
    font-size: 15px;
    width: 100%;
    cursor: pointer;
}

#calendarEventModal button[type="button"]:last-child {
    height: 50px;
    background-color: transparent;
    border: solid #2CA464 2px;
    border-radius: 15px;
    margin: 5px;
    margin-bottom: 10px;
    color: #2CA464;
    font-family: Lexend;
    font-size: 15px;
    width: 100%;
    cursor: pointer;
}

/* community creations */
.communityUpload {
    /* display: none; */
}

.communityUploadArea {
    border-style: dashed;
    border-radius: 15px;
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    cursor: pointer;
}

.communityUploadArea img {
    cursor: pointer;
}

.communityUploadArea p {
    cursor: pointer;
}


.communityUploadDetails input[id=communityTitle] {
    background-color: #FAFAFA;
    color: #3E3E3E;
    border-radius: 15px;
    border: solid #D6D6D6 2px;
    font-family: Lexend;
    font-size: 15px;
    height: 45px;
    padding: 0px 15px;
    width: 100%;
}

.communityUploadDetails select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: solid #D6D6D6 2px;
    border-radius: 15px;
    font-family: Lexend;
    height: 45px;
    padding: 0px 15px;
    width: 100%;
    color: #3E3E3E;
    background-color: #FAFAFA;
    font-size: 15px;
    background-image: url("../img/dropdown.png");
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: right 15px center;
}

.communityUploadDetails textarea {
    background-color: #FAFAFA;
    color: #3E3E3E;
    border-radius: 15px;
    border: solid #D6D6D6 2px;
    font-family: Lexend;
    font-size: 15px;
    height: 125px;
    padding: 10px 15px;
    width: 100%;
    margin-top: 10px;
    resize: none;
}

.communityUploadDetails .roundedButton {
    margin-top: 10px;
}

.communityPhotos {
    display: flex;
}

.communityFile {
    width: 20%;
    height: 150px;
    padding: 5px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
}

.communityReadingMaterials {
    display: flex;
    cursor: pointer;
    font-size: 20px;
    align-items: center;
}

.communitySubVideo {
    width: 100%;
    border-radius: 10px;
}

.createSubmissionsBox {
    border-bottom: solid #D0D0D0 2px;
}


.createSubmissionsBox .roundedButton {
    margin: 15px 15px 20px;
}

.createSubmissionsBox img {
    width: 250px;
    margin: 20px;
}

.submissionsBox {
    border: solid #D0D0D0 2px;
    border-radius: 15px;
    padding: 20px;
}

.submissionsContainer {
    margin-top: 20px;
    padding-bottom: 20px;
}

.submissionsContainer .roundedButton {
    margin-top: 20px;
}

.submissionsContainer h1{
    margin: 10px 0px
}

.viewSubmissionsContainer {
    width: 45%;
    background-color: #018744;
}

.communitySubmissionsTab {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
  
.communitySubmissionsTab .communitySubmissionsTabBtn {
    font-size: 20px;
    font-family: Lexend;
    color: #3E3E3E;
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-bottom: solid transparent 3px;
    outline: none;
    width: 200px;
}

.communitySubmissionsTab .communitySubmissionsTabBtn.active {
    outline: none;
    font-weight: 600;
    border-bottom: solid #2CA464 3px;
    transition: border-bottom-color 0.3s ease-in-out;
}

@keyframes slideIn {
    from {
        border-bottom-color: transparent;
    }
    to {
        border-bottom-color: #2CA464;
    }
}

.communitySubmissionsTab .communitySubmissionsTabBtn.active {
    animation: slideIn 0.3s forwards;
}

.communityViewContentBox {
    padding: 20px;
    margin: 0 !important; 
    padding: 0 !important;
}

.communitySubmissionsContentBox .communitySubmissionsContent {
    display: none;
    animation: moving 0.5s ease;
}

@keyframes moving {
    from{transform: translateX(50px); opacity: 0;}
    to{transform: translateX(0px); opacity: 1;}
}

.communitySubmissionsContentBox .communitySubmissionsContent.active {
    display: block;
}

.communitySubmissionsContentVariant {
    width: 100%;
}

/*library*/

.libraryMediaContainer {
    width: 100%;
    border: solid #D0D0D0 2px;
    border-radius: 25px;
    padding: 50px;
    margin-top: 20px;
}

.libraryMediaContainer p {
    margin: 0;
    text-align: justify;
    font-size: 15px;
    line-height: 20px;
}

.libraryMediaContainer img {
    margin: 7.5px 0;
    width: 100%;
    border-radius: 15px;
}

.libraryMediaContainer .libraryMediaHeader p {
    margin-top: -10px;
    line-height: 20px;
}

.libraryMediaHeader {
    padding: 0 !important;
    margin: 0 !important;
}

.libraryMediaHeader p {
    margin-right: 10px;
}

.libraryMediaInteractions {
    margin-bottom: 10px;
}

.libraryMediaContainer .libraryMediaInteractions img {
    width: 25px;
    border-radius: 0px;
}

.libraryMediaInteractions .mediaInteractionsLeft img {
    margin-right: 10px;
}

.libraryWideContainer {
    width: 100% !important;
    margin: 20px 0;
}

.libraryWideContainer .libraryMediaHeader {
    padding-left: 15px !important;
}

/*navbar*/
header {
    font-family: Lexend;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    padding: 0px 182px;
    height: 85px;
    z-index: 10000;
}

header img {
    width: 200px;
}

header .logo {
    position: relative;
    font-weight: 700;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
}

header li {
    list-style: none;
}

header li img {
    padding-right: 10px;
}

header ul {
    padding-top: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.5s;
}

header .logo:hover, header ul li a:hover {
    color: gray;
}

header.sticky{
    height: 75px;
    padding: 0px 182px;
    background: white;
}

header.sticky .logo, header.sticky ul li a{
    color: black;
}

header.sticky .logo:hover, header.sticky ul li a:hover{
    color: #289a5d;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/*splash buttons*/

.col-7 .button1 {
    background-color: transparent;
    border: 2px solid #668790;
    font-family: Lexend;
    width: 300px;
    border-radius: 16px;
    color: white;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;    
    cursor: pointer;
    transition: 0.3s;
}

.col-7 .button1:hover {
    background-color: rgba(255,255,255,0.05);
    color: white;
    border: 2px solid #668790;
}

.col-7 .button2 {
    background-color: #2ca464;
    border: 2px solid #2ca464;
    font-family: Lexend;
    width: 300px;
    border-radius: 16px;
    color: white;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    transition: 0.3s;
}

.col-7 .button2:hover {
    background-color: #34b972;
    color: white;
    border: 2px solid #34b972;
}

/*containers*/

.col-7 .container {
    width: 600px;
}

.col-7 .container .row {
    text-align: center;
}

.col-7 .container .homeHeader {
    text-align: center;
    color: white;
    margin-bottom: 30px;
}

.contentHeader {
    text-align: center;
    padding: 60px 0px 20px 0;
}

#about h2 {
    font-weight: 600;
    color: #3E3E3E;
}

#about .container hr {
    margin: 0 auto;
    border: 2px solid #2CA464;
    width: 12.5%;
    opacity: 100;
}

#about .content {
    height: 20vh;
    padding: 20px 60px 60px;
}
#about hr {
    border: 1px solid #D0D0D0;
    opacity: 100;
}

#about p {
    font-size: 20px;
    text-align: center;
    line-height: 1.25em;
}

#features h2 {
    font-weight: 600;
    color: #3E3E3E;
}

#features .content {
    height: 60vh;
    padding: 20px 60px 60px;
}

#features .featuresRow {
    height: 50%;
    margin: 0px 16px 0px;
}

#features .featuresCol {
    height: 100%;
    padding-top: 25px;
}

#features h5 {
    color: #3E3E3E;
    font-weight: 600;
    padding: 14px 0 0 0;
}

#features p {
    font-size: 15px;
    line-height: 1.25em;
}

#features .featuresText {
    padding: 25px 0 0 12px;
    height: 100%;
}

p { 
    font-family: Lexend;
    color: #3E3E3E;
}

#developers .row {
    margin: 0 100px 0 100px;
}

#developers h2 {
    font-weight: 600;
    color: #3E3E3E;
}

#developers h5 {
    font-weight: 600;
    color: #3E3E3E;
    text-align: center;
}

#developers p {
    text-align: center;
}

#developers .content {
    height: 40vh;
    margin: 20px 60px 60px;
}

#developers h5 {
    color: #3E3E3E;
    font-weight: 600;
}

#developers img {
    border-radius: 50%;
}

#developers .developersRow {
    margin: 20px 0;
}

.div-divider {
    height: 20px;
    background-color: #2ca464;
}

/*login signup*/

#loginSignup p {
    font-family: Lexend;
    color: #3E3E3E;
    font-size: 13px;
    margin-bottom: 10px;
}

#loginSignup .loginSignupContainer {
    height: 100vh;
}

#loginSignup .loginSignupContainer .registrationNavButton {
    background-color: transparent;
    color: #2CA464;
    border: solid #298f58 2px;
    border-radius: 15px;
    font-family: Lexend;
    font-size: 15px;
    margin: 20px 10px;
    padding: 7.5px 15px;
    text-align: center;
    transition: background-color 0.5s ease;
}

#loginSignup .loginSignupContainer .registrationNavButton:hover {
    background-color: rgb(220, 220, 220 , 0.3);
    transition: background-color 0.5s ease;
}

#loginSignup .margin {
    margin: 30px 20px;
}

#loginSignup .loginSignupForm {
    padding: 80px;
}

#loginSignup .loginSignupForm h3 {
    margin-bottom: 5px;
}

#loginSignup h3 {
    padding: 15px 0px;
    color: #3E3E3E;
    font-family: Lexend;
    font-size: 28px;
    font-weight: 600;
    margin: -10px 0px;
}

#loginSignup input[type=text]{
    background-color: #FAFAFA;
    color: #3E3E3E;
    border-radius: 15px;
    border: solid #D6D6D6 2px;
    font-family: Lexend;
    font-size: 15px;
    height: 45px;
    margin-bottom: 5px;
    margin-top: 0 !important;
    padding: 0px 15px;
    width: 325px;
    display: flex;
}

#loginSignup input[type=password]{
    background-color: #FAFAFA;
    color: #3E3E3E;
    border-radius: 15px;
    border: solid #D6D6D6 2px;
    font-family: Lexend;
    font-size: 15px;
    height: 45px;
    margin-bottom: 5px;
    margin-top: 0 !important;
    padding: 0px 15px;
    width: 325px;
    display: flex;
}

#loginSignup .forgotLink {
    margin-bottom: 0px;
    font-family: Lexend;
    font-size: 13px;
    text-align: right;
}

#loginSignup a {
    text-decoration: none;
    color: #2CA464;
}

#loginSignup input:focus {
    border-color: #2CA464;
    outline: none;
    transition: 0.5s;
}

#loginSignup select:focus {
    border-color: #2CA464;
    outline: none;
    transition: 0.5s;
}

#loginSignup select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: solid #D6D6D6 2px;
    border-radius: 15px;
    font-family: Lexend;
    height: 45px;
    padding: 0px 15px;
    width: 325px;
    margin-bottom: 5px;
    color: #3E3E3E;
    background-color: #FAFAFA;
    font-size: 15px;
    background-image: url("../img/dropdown.png");
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: right 15px center;
}

#loginSignup input[type=submit]:hover {
    background-color: #2e925c;
}

#loginSignup .terms {
    text-align: center;
    padding: 0px 10px;
    line-height: 15px;
}

#loginSignup .signupLink {
    color: #2CA464;
    cursor: pointer;
}

.registrationButton {
    background-color: white;
    color: #2CA464;
    border: solid #298f58 2px;
    border-radius: 15px;
    font-family: Lexend;
    font-size: 15px;
    margin: 0px 10px;
    padding: 5px 15px;
    text-align: center;
    transition: background-color 0.5s ease;
}

.registrationButton:hover {
    background-color: rgb(225, 225, 225);
}

.registrationButtonVariant {
    background-color: transparent;
    color: white;
    border: solid white 2px;
    border-radius: 15px;
    font-family: Lexend;
    font-size: 15px;
    margin: 0px -10px;
    padding: 5px 15px;
    text-align: center;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.registrationButtonVariant:hover {
    background-color: rgb(236, 236, 236, 0.3);
}

.registrationHeader {
    background-color: #2CA464;
}

.registrationSubmitButton {
    background-color: #2CA464 !important;
    color: white;
    border: none;
    border-radius: 15px;
    font-family: Lexend;
    font-size: 15px;
    height: 45px;
    margin: 5px 0px;
    width: 325px;
    transition: background-color 0.5s ease;
}

#verificationCodeModal input[type=text]{
    background-color: #FAFAFA;
    color: #3E3E3E;
    border-radius: 15px;
    border: solid #D6D6D6 2px;
    font-family: Lexend;
    font-size: 15px;
    height: 45px;
    margin-bottom: 5px;
    margin-top: 0 !important;
    padding: 0px 15px;
    width: 325px;
    display: flex;
}

#verificationCodeModal input[type=text]{
    background-color: #FAFAFA;
    color: #3E3E3E;
    border-radius: 15px;
    border: solid #D6D6D6 2px;
    font-family: Lexend;
    font-size: 15px;
    height: 45px;
    margin-bottom: 5px;
    margin-top: 0 !important;
    padding: 0px 15px;
    width: 325px;
    display: flex;
}

#verificationCodeModal h5 {
    margin: 10px 0;
}

/*sidebar*/
.sidebar {
    font-family: Lexend;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 275px;
    background-color: white;
    border: none;
    border-right: solid #D0D0D0 2px;
    transition: 0.5s ease;
    z-index: 5;
}
  
.sidebar.active {
    width: 85px;
    padding: 0px;
    transition: 0.5s ease;
}

.sidebar .top .logo img {
    height: 65px;
    margin-top: 25px;
    margin-bottom: 10px;
    transition: opacity 0.5s ease;
}

.sidebar.active .top .logo img {
    height: 65px;
    transition: opacity 0.5s ease;
}

.sidebar ul {
    padding: 0;
    margin: 10px;
    transition: 0.5s ease;
}

.sidebar.active ul {
    padding: 0;
    margin: 10px;
}

.sidebar ul li {
    position: relative;
    list-style-type: none;
    height: 70px;
}

.sidebar ul li img {
    height: 40px;
}

.sidebar.active ul li img {
    height: 40px;
}

.sidebar ul li a {
    font-size: 15px;
    border: solid white 2px;
    color: #3E3E3E;
    background-color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 15px;
    height: 60px;
    padding: 10px;
    transition: 0.3s ease;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar ul li a:hover {
    background-color: #EAF7F0;
    border: solid #75C884 2px;
    transition: 0.5s ease;
}

.sidebar.active ul li a {
    display: flex;
    align-items: center;
    width: 65px;
}

.sidebar .navItem {
    display: flex;
    margin-left: 12px;
    opacity: 1;
    transition: 0.1s;
    transition: opacity 0.5s ease;
}

.sidebar.active .navItem {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.sidebar #text {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.sidebar.active #text {
    opacity: 0;
}

.sidebar .dropdown {
    position: relative;
}

.sidebar .dropdown .dropdownMenu {
    display: none;
    position: absolute;
    height: 60px;
    left: 96%;
    background-color: tran;
    top: -10px;
    padding-left: 25px;
}

.sidebar .dropdown:hover .dropdownMenu {
    display: block;
}

.sidebar.active .dropdown .dropdownMenu {
    display: none;
    position: absolute;
    height: 60px;
    left: 88%;
    background-color: transparent;
    top: -10px;
    padding-left: 18px;
}

.sidebar.active .dropdown:hover .dropdownMenu {
    display: block;
}

.sidebar .dropdown .dropdownMenu a {
    background-color: white;
    font-size: 15px;
    width: 245px;
    border: solid #D0D0D0 2px;
    transition: 0.5s ease;
}

.sidebar .dropdown .dropdownMenu a:hover {
    font-size: 15px;
    background-color: #f4f4f4;
}

.sidebar.active .dropdown .dropdownMenu a {
    width: 65px;
}

/*user profile*/
.basicInfoContainer {
    height: 275px;
    color: #3E3E3E;
    border-bottom: solid #D0D0D0 2px;
}

.basicInfoContainer p {
    font-size: 15px;
}

.basicInfoContainer h1 {
    font-size: 30px;
}

.userBasicStatsContainer {
    height: 170px;
}

.userBasicStatsContainer .userBasicStatsOverview {
    margin-top: 5px;
}

.userBasicStatsContainer .userBasicStatsOverview img {
    width: 20px;
}

.userBasicStats {
    margin: 5px 0;
}

.userBasicStats p {
    padding-left: 5px;
    margin: 0;
}

.roundedButton {
    background-color: #2CA464;
    color: white;
    border-style: none;
    border-radius: 30px;
    font-family: Lexend;
    font-size: 15px;
    height: 35px;
    padding: 0 30px;
    text-align: center;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.roundedButton:focus {
    outline: none;
}

.roundedButtonVariant {
    background-color: #B0BEC5;
    color: white;
    border-style: none;
    border-radius: 30px;
    font-family: Lexend;
    font-size: 15px;
    height: 35px;
    padding: 0 30px;
    text-align: center;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.roundedButtonVariant:focus {
    outline: none;
}

.roundedButtonVariantTwo {
    background-color: #F05454;
    color: white;
    border-style: none;
    border-radius: 30px;
    font-family: Lexend;
    font-size: 15px;
    height: 35px;
    padding: 0 30px;
    text-align: center;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.roundedButtonVariantTwo:focus {
    outline: none;
}

.buttonProfile {
    height: 170px;
    padding: 3px 0;
}

.buttonProfile a {
    text-decoration: none;
    color: inherit;
}

.userTabsContainer {
    margin: 0;
    padding: 0;
}

.userTabsContainer .userTabs {
    height: 50px;
    margin-bottom: 15px;
}

.userTabsContainer .tabs {
    font-family: Lexend;
    font-size: 15px;
    margin-right: 30px;
    margin-top: 15px;
}

.userTabsContainer a {
    text-decoration: none;
    color: inherit;
}

.tabs:hover {
    font-weight: 600;
}

.activeTab {
    font-weight: 600;
    border-bottom: solid #2CA464 2px;
}


.personalInfoContainer input:focus {
    border-color: #2CA464 !important;
    outline: none;
    transition: 0.5s;
}

.personalInfoContainer select:focus {
    border-color: #2CA464 !important;
    outline: none;
    transition: 0.5s;
}

.userProfileTab {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
  
.userProfileTab .userProfileTabBtn {
    font-size: 15px;
    font-family: Lexend;
    color: #3E3E3E;
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-bottom: solid transparent 3px;
    outline: none;
}

.userProfileTab .userProfileTabBtn.active {
    font-weight: 600;
    border-bottom: solid #2CA464 3px;
    transition: border-bottom-color 0.3s ease-in-out;
    outline: none;
}

@keyframes slideIn {
    from {
        border-bottom-color: transparent;
    }
    to {
        border-bottom-color: #2CA464;
    }
}

.userProfileTab .userProfileTabBtn.active {
    animation: slideIn 0.3s forwards;
}

.userProfileContentBox {
    padding: 20px;
}

.userProfileContentBox .userProfileContent {
    display: none;
    animation: moving 0.5s ease;
}

@keyframes moving {
    from{transform: translateX(50px); opacity: 0;}
    to{transform: translateX(0px); opacity: 1;}
}

.userProfileContentBox .userProfileContent.active {
    display: block;
}

.userProfileContentBox .userProfileContent h2 {
    margin-top: 0 !important;
    margin-bottom: 10px;
}

.userProfileStatsHeader {
    width: 100%;
    height: 75px;
    padding: 20px 0;
    border-bottom: solid #D0D0D0 2px;
}

.userProfileStatsHeader h1 {
    font-size: 20px;
    font-weight: 600;
}

.userProfileStatsHeader select:focus {
    outline: none;
    transition: 0.5s;
}

.userProfileStatsHeader select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: solid #D6D6D6 2px;
    border-radius: 5px;
    font-family: Lexend;
    padding: 5px 15px;
    width: 140px;
    color: #3E3E3E;
    font-size: 15px;
    background-image: url("../img/dropdown.png");
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: right 15px center;
}

.userProfileStatsContainer .col-8 {
    padding-right: 10px !important;
}

.userProfileStatsContainer .col-4 {
    padding-left: 10px !important;
}

.userProfileStatsMain {
    width: 100%;
    border: solid #D0D0D0 2px;
    border-radius: 15px;
    padding: 20px;
    height: 550px;
}

.userProfileStatsContent {
    width: 100%;
}

.userProfileStatsContentBox {
    margin-top: 20px;
}

.userProfileStatsContentImg {
    width: 35%;
}

.userProfileStatsContentImg img {
    width: 40px;
}

.userProfileStatsContentNum {
    width: 65%;
}

.userProfileStatsContentNum h1 {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 28px;
    color: #3E3E3E;
}

.userProfileStatsContentNum p {
    margin-top: -7.5px !important;
    padding: 0 !important;
    font-size: 12px;
    color: #9B9B9B;
}

.userProfileStatsContentNumVar h1 {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 40px;
    color: #3E3E3E;
}

.userProfileStatsContentNumVar p {
    font-size: 12px;
    color: #9B9B9B;
    text-align: center;
}

.userProfileStatsContentBox .col-9 {
    padding: 0 0 0 15px !important;
}

.userProfileStatsInnerDiv {
    border: solid #D0D0D0 2px;
    border-radius: 15px;
    padding: 20px;
}

.userProfileStatsInnerDiv img {
    width: 100%;
    height: 100%;
}

.userProfileStatsOverviewBody {
    margin-top: 20px;
}

.userProfileStatsOverviewBody .userProfileStatsContentImg {
    width: 10%;
}

.userProfileStatsOverviewBody .userProfileStatsContentNum {
    width: 90%;
}

.userProfileStatsOverviewBody .userProfileStatsContentImg img {
    width: 30px;
}

.userProfileStatsOverviewBody .userProfileStatsContentNum p {
    margin-top: 0 !important;
    color: #3E3E3E;
}

.userProfileStatsOverviewBody .userProfileStatsContentNum h1 {
    margin-top: -25px !important;
    font-size: 24px;
}

.userProfileStatsOverviewBody .userProfileStatsContentNum h1 span {
    color: #D0D0D0;
    font-size: 12px;
    padding-left: 5px;
}

.userProfileStatsOverviewBody .userProfileStatsInnerDiv {
    padding: 7.5px;
    margin: 10px 0;
}

.userProfileStatsOverviewBody .userProfileStatsInnerDiv img {
    width: 100%;
    height: 130px;
}

.achievementsContainer {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.achievementsBox {
    width: 30%;
    height: 200px;
    display: block;
    border: solid #D0D0D0 2px;
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
}

.achievementsBox h1 {
    font-size: 20px;
    font-weight: 600;
    color: #2CA464 !important;
}

.achievementsBox p {
    font-size: 15px;
}

.achievementsBox img {
    width: 75px;
}

.bookmarkContainer {
    border-radius: 15px;
    display: flex;
    width: 100%;
    font-family: Lexend;
    background-color: white;
    border: solid #D0D0D0 2px;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 15px;
}

.bookmarkContainer p {
    line-height: normal;
    margin: 10px 0 10px 5px !important;
    padding: 0 !important;
}

.bookmarkImgContainer {
    width: 4%;
}

.bookmarkContent {
    width: 96%;
}

.userProfBookmark {
    width: 20px;
    height: 20px;
    margin: 5px 0px 5px 10px;
}

.postVotes {
    width: 20px;
    height: 20px;
}

/*edit profile*/

.editNicknameButton {
    background-color: #B3BEC4;
    color: white;
    border-style: none;
    border-radius: 30px;
    font-family: Lexend;
    font-size: 12px;
    height: 25px;
    padding: 0 20px;
    margin: -1px 10px 0 10px;
    text-align: center;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.editNicknameButton:focus {
    outline: none;
}

.nicknameContainer {
    margin-bottom: 15px;
    height: 25px;
}

.editProfileContainer {
    font-family: Lexend;
    padding: 20px 0;
}

.editProfileContainer p {
    font-size: 15x;
    margin: 10px 0;
    text-align: center;
}

.editProfileContainer input[type=text],input[type=password] {
    background-color: #FAFAFA;
    width: 80%;
    color: #3E3E3E;
    border-radius: 15px;
    border: solid #D6D6D6 2px;
    font-family: Lexend;
    font-size: 15px;
    height: 45px;
    margin: 5px 0px;
    padding: 0px 15px;
}

.editProfileContainer select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: solid #D6D6D6 2px;
    border-radius: 15PX;
    font-family: Lexend;
    height: 45px;
    margin: 5px 0px;
    padding: 0px 15px;
    width: 80%;
    color: #3E3E3E;
    background-color: #FAFAFA;
    font-size: 15px;
    background-image: url("../img/dropdown.png");
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: right 15px center;
}

.settingsBlock input {
    cursor: pointer;
    position: relative;
    width: 50px;
    height: 25px;
    border-radius: 25px;
    outline: none;
    background-color: #B0BEC5;
    -webkit-appearance: none;
    transition: 0.3s;
}

.settingsBlock input::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 1.05rem;
    width: 1.05rem;
    background-color: white;
    transition: left .3s;
}

.settingsBlock input:checked {
    background-color: #2CA464;
}

.settingsBlock input:checked::after {
    left: 70%;
}

.settingsBlock label {
    color: #3E3E3E;
    margin: 1px 0 0 10px;
}

.settingsBlock p {
    margin-top: 0 !important;
}

.settingsContainer {
    border: solid #D6D6D6 2px;
    border-radius: 15px;
}

.settingsContainer .col-12 {
    padding: 20px 25px 0px 25px !important;
}

.settingsContainer select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: solid #D0D0D0 2px;
    border-radius: 50px;
    font-family: Lexend;
    height: 30px;
    padding: 0px 10px;
    width: 100%;
    color: #3E3E3E;
    font-size: 15px;
    background-image: url("../img/dropdown.png");
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: right 15px center;
    margin-top: 0 !important;
}

.settingsContainer .roundedButtonVariantTwo {
    margin: -5px 0 20px 0;
}

.editPasswordButton {
    background-color: #B3BEC4;
    color: white;
    border-style: none;
    border-radius: 30px;
    font-family: Lexend;
    font-size: 12px;
    height: 25px;
    padding: 0 15px;
    margin-right: 10px;
    text-align: center;
    transition: background-color 0.5s ease;
    cursor: pointer;
} 

.editPasswordButton:focus {
    outline: none;
} 

#editPasswordModal input[type=password] {
    margin-top: 0px;
}

#editPasswordModal .editPasswordModalBox {
    margin: 20px 0 10px 0;
}

#editPasswordModal .roundedButtonVariant {
    margin: 0 10px 20px 0;
}

#editPasswordModal .roundedButton {
    width: 110px;
    margin-bottom: 20px;
}

#editPasswordModal .modal-xs {
    width: 500px;
}

#editPasswordModal .modal-xs .registrationSubmitButton {
    margin-top: 15px;
}

#editPasswordModal .modal-xs img {
    margin-bottom: 5px;
}

#deleteAccountModal .roundedButtonVariant {
    margin-right: 10px !important;
}

#deleteAccountModal .deleteAccountDescription {
    font-size: 15px;
    color: #3E3E3E;
    line-height: 20px;
}

#deleteAccountModal .deleteAccountDescriptionVar {
    color: #F05454;
    font-weight: 600;
    font-size: 12px;
}

#deleteAccountModal p {
    text-align: justify;
    text-align-last: center;
    margin-bottom: -10px;
}

#deleteAccountModal input[type=text]{
    background-color: #FAFAFA;
    color: #3E3E3E;
    border-radius: 15px;
    border: solid #D6D6D6 2px;
    font-family: Lexend;
    font-size: 15px;
    height: 45px;
    margin-top: 15px !important;
    padding: 0px 15px;
    width: 325px;
    display: flex;
}

#deleteAccountModal input[type=password]{
    background-color: #FAFAFA;
    color: #3E3E3E;
    border-radius: 15px;
    border: solid #D6D6D6 2px;
    font-family: Lexend;
    font-size: 15px;
    height: 45px;
    margin-bottom: 15px;
    padding: 0px 15px;
    width: 325px;
    display: flex;
}

#deleteAccountModal .modal-xs {
    width: 500px;
}

#deleteAccountModal .modal-xs .registrationSubmitButton {
    margin-top: 15px;
}

#deleteAccountModal .modal-xs img {
    margin-bottom: 5px;
}

.defaultAvatar {
    width: 100px;
    margin: 5px;
}

.editAvatarButton {
    position: absolute;
    top: 0px;
    width: 40px;
    cursor: pointer;
}

#editAvatarModal h5 {
    font-size: 26px;
    font-family: Lexend;
    font-weight: 600;
}

#editAvatarModal p {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
    font-family: Lexend;
}

#editAvatarModal p:before, p:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
}
  
#editAvatarModal p:before {
    margin-right: 10px
}

#editAvatarModal p:after {
    margin-left: 10px
}

#editAvatarModal .roundedButtonVariant {
    width: 175px;
}

#editAvatarModal .roundedButton {
    width: 175px;
}

#editAvatarModal .roundedButtonVariant {
    margin-bottom: 15px;
}

/*pages*/

.pageContainer {
    margin: 0px 30px;
    font-family: Lexend;
    transition: 0.5s ease;
    padding-left: 275px;
}

.pageContainer h1 {
    color: #3E3E3E;
    margin: 0;
    padding: 0;
    font-family: Lexend;
}

.sidebar.active ~ .pageContainer {
    transition: 0.5 ease;
}

.pageHeader {    
    height: 90px;
    border-bottom: solid #D0D0D0 2px;
}

.pageHeader h1 {
    font-size: 26px;
    font-weight: 600;
}

.pageHeader .pageHeaderLink {
    text-decoration: none;
}

.pageHeader input {
    background-color: #ffffff;
    font-size: 15px;
    border-radius: 20px;
    border: solid #D0D0D0 2px;
    padding: 5px 15px;
    width: 100%;
}

.pageHeader input:focus {
    outline: solid #2CA464 2px;
}

.pageContent {
    margin: 0 20px 20px 20px;
    padding: 0;
    height: 100%;
}

.pageContent h1 {
    font-size: 22px;
    padding: 0 !important;
    margin-bottom: 10px;
    font-weight: 600;
}

.adminHeader {
    border-bottom: none !important;
}

/*library*/

/*main library*/

.libraryBasicInfoContainer {
    padding: 15px;
    border-bottom: solid #D0D0D0 2px;
}

.libraryBasicInfoContainer p {
    font-size: 15px;
    margin: 0;
    padding: 0;
}

.libraryBasicInfoBox {
    background-color: white;
    border: solid #D0D0D0 2px;
    border-radius: 15px;
    cursor: pointer;
    padding: 15px;
    margin: 5px;
}

/*library basic information modal*/

#libraryBasicInfoModal .modal-header {
    margin: 0;
    padding: 0;
}

#libraryBasicInfoModal #basicInfoModalTitle {
    font-size: 26px;
    font-family: Lexend;
    font-weight: 600;
}

#libraryBasicInfoModal .col-2 img {
    width: 80px;
}

#libraryBasicInfoModal p {
    font-size: 15px;
}

#libraryBasicInfoModal .basicItemsBox {
    border: solid #D0D0D0 2px;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
}

#libraryBasicInfoModal .basicItemsBox .basicItemsBoxTitle {
    font-size: 15px;
    font-weight: 600;
}

#libraryBasicInfoModal .basicItemsBox #basicItemsBoxSubtitle {
    margin-top: -20px;
    padding: 0;
}

#libraryBasicInfoModal .basicItemsBox img {
    width: 125px;
    margin: 5px;
}

.libraryBasicInfoBox img {
    width: 70px;
}

/*main library content*/

.libraryMainContainer { 
    padding: 20px 0;
}

.libraryRightContainer {
    padding: 20px;
}

.libraryRightContainer .libraryReadMatsBox {
    padding: 0 20px;
    margin: 0;
}

.libraryRightContainer .libraryReadMatsBox p {
    font-weight: 400 !important;
}

.libraryRightContainer .roundedButton {
    margin-top: 20px;
}

.libraryRightContBox {
    padding: 20px;
    border: solid #D0D0D0 2px;
    border-radius: 15px;
}

.libraryRightContBox p {
    margin-bottom: 5px;
    font-weight: 600;
}


.libraryRightContBox select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: solid #D0D0D0 2px;
    border-radius: 50px;
    font-family: Lexend;
    height: 30px;
    padding: 0px 10px;
    width: 100%;
    color: #3E3E3E;
    font-size: 15px;
    background-image: url("../img/dropdown.png");
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: right 15px center;
    margin-bottom: 10px;
}

#libraryReadMatsContainer {
    cursor: pointer;
}

.libraryReadMatsBox {
    margin: 20px 0;
}

.libraryReadMatsHeader {
    height: 20px;
}

.libraryReadMatsSubheader {
    margin-bottom: 0px;
}

.libraryReadMatsSubheader p {
    font-size: 13px;
    margin-right: 5px;
}

.libraryReadMatsSummary {
    text-align: justify;
    font-size: 15px;
    line-height: 20px;
}

.libraryReadMatsType {
    color: #428DE5;
    text-transform: uppercase;
    margin-right: 5px;
}

.libraryReadMatsTitle {
    color: #3E3E3E;
    font-size: 20px;
    margin-right: 5px;
}

.libraryReadMatsTag {
    background-color: #428DE5;
    color: #FFFFFF;
    border-radius: 100px;
    padding: 4px 10px;
    font-size: 12px;
    height: 25px;
}

.libraryPreview {
    width: 200px;
    height: 120px;
    border-radius: 15px;
    object-fit: cover;
    cursor: pointer;
}

.librarySeeMore {
    cursor: pointer;
}

.libraryActions {
    cursor: pointer;
}

.libraryVideo {
    width: 100%;
    border-radius: 15px;
    margin: 7.5px;
}

.readingMaterialBg {
    height: 100%;
    object-fit: cover;
}

#readingMaterialBg {
    border-radius: 15px !important; 
}

#readingMaterialOverview .readingMaterialImg {
    margin: 0;
    padding: 0;
}

#readingMaterialOverview img {
    max-width: 100%;
}

#readingMaterialOverview .readingMaterialHeader h1 {
    font-family: Lexend;
    font-size: 26px;
    color: #3E3E3E;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

#readingMaterialOverview .readingMaterialHeader p {
    font-family: Lexend;
    font-size: 15px;
    margin-right: 10px;
}

#readingMaterialOverview .readingMaterialHeader .readingMaterialTitle img {
    width: 25px;
}

#readingMaterialOverview .readingMaterialHeader .readingMaterialTitle {
    margin: 0;
    padding: 0;
}

#readingMaterialOverview .readingMaterialHeader .readingMaterialExternal {
    color: #2CA464;
}

#readingMaterialOverview .readingMaterialOveContent {
    padding: 10px;
    padding-bottom: 0px;
    border-radius: 15px;
    border: solid #2CA464 2px;
    margin: 10px 0;
}

/* user agreement */

.userAgreementDiv {
    padding: 50px 200px 50px 200px;
}

.userAgreementDiv h3 {
    text-align: center;
}

.userAgreementDiv h4 {
    text-align: center;
    font-size: 14px;
}

.userAgreementDiv p {
    text-align: justify;
    font-size: 14px;
}

.no-underline {
    text-decoration: none;
    color: #000000;
}

.no-underline:hover {
    text-decoration: none;
    color: #000000;
}

.toast {
    background-color: #333333;
    color: #FFFFFF;
    font-family: "Lexend";
    font-size: 12px;
    border-radius: 15px;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease, bottom 0.3s ease;
    z-index: 9999;
}

.toast.show {
    bottom: 5%;
    opacity: 1;
    visibility: visible;
}

/*notifications panel*/

.notificationsPanel {
    position: fixed;
    background-color: white;
    color: #3E3E3E;
    height: 100vh !important;
    width: 275px;
    margin-left: -275px;
    z-index: 4;
    overflow-y: scroll;
    transition: 0.5s ease;
}
  
.notificationsPanel.show {
    margin-left: 85px;
}

.notificationsPanelHeader {
    padding: 15px 15px 0 15px;
    margin: 0;
}

.notificationsPanelHeader h1 {
    font-size: 22px;
    font-weight: 600;
    font-family: Lexend;
}

.notificationsPanelBody {
    padding: 10px 15px;
    display: flex;
    background-color: white;
    transition: 0.5s ease;
}

.notificationsPanelBody:hover {
    background-color: #EAF7F0;
}

.notificationsPanelBody img {
    height: 40px;
}

.notificationsPanelBody .col-2 {
    margin: 0 !important;
    padding: 0 !important;
}

.notificationsPanelBody .col-10 {
    margin: 0 !important;
    padding: 0 0 0 5px;
    font-family: Lexend;
    font-size: 15px;
}

.notificationsPanelBody .notificationsPanelMainText {
    line-height: 20px;
    margin: 0 !important;
    padding: 0 !important;
    text-align: justify;
    text-align-last: left;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-width: 100%;
}

.notificationsPanelBody .notificationsPanelSubtext {
    font-size: 12px;
    margin: 0;
    padding: 0;
    font-weight: 600;
}

.notificationsPanelBody .notificationsPanelBoldText {
    color: #2CA464;
    font-weight: 600;
}



/*discussion forum*/

.forumSubmitContainer {
    display: flex;
    width: 100%;
    font-family: Lexend;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: white;
    border: solid #D0D0D0 2px;
    border-radius: 15px;
}

.forumSubmitContent {
    width: 98%;
    padding-left: 10px;
}

.forumSubmitContentTitle {
    width: 100%;
}

.forumSubmitContainer input[type=text] {
    font-size: 20px;
    font-weight: 600;
    border: none;
    color: #2CA464;
}

.forumSubmitContainer input[type=text]:focus {
    outline: none;
}

.forumSubmitContainer input[type=text]::placeholder {
    color: #9AD1B4;
}

.forumSubmitContainer textarea {
    color: #3E3E3E;
    width: 100%;
    min-height: 125px;
    border: none;
    border-bottom: solid #D0D0D0 2px;
}

.forumSubmitContainer textarea:focus {
    outline: none;
}

.forumSubmitContainer p {
    margin-top: 15px;
    padding-right: 10px;
    font-size: 14px;
    color: #959595;
}
.forumSubmitContainer .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-top: 8px;
    margin-right: 16px;
}

.forumSubmitContainer .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.forumSubmitContainer .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: -4.5px;
    right: 0;
    bottom: 0;
    background-color: #B0BEC5;
    -webkit-transition: .4s;
    transition: .4s;
}

.forumSubmitContainer .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 3.5px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.forumSubmitContainer input:checked + .slider {
    background-color: #427995;
}

.forumSubmitContainer input:focus + .slider {
    box-shadow: 0 0 1px #427995;
}

.forumSubmitContainer input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.forumSubmitContainer .slider.round {
    border-radius: 34px;
}

.forumSubmitContainer .slider.round:before {
    border-radius: 50%;
}

.forumSubmitContainer input:checked + .forumSlider {
    background-color: #2196F3;
}

.forumSubmitContainer input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

.forumSubmitContainer input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.forumSubmitInteractions {
    margin: -5px 0;
}

.forumPostContainer {
    display: flex;
    width: 100%;
    font-family: Lexend;
    padding: 20px;
    margin-top: 10px;
    background-color: white;
    border: solid #D0D0D0 2px;
    border-radius: 15px;
    cursor: pointer;
}

.forumPostContainer p {
    font-size: 15px;
    margin: 0;
    text-align: justify;
}

.forumPostContainer h1 {
    font-size: 20px;
    font-weight: 600;
    color: #2CA464 !important;
}

.forumPostContainer h2 {
    font-size: 12px;
    color: #9AD2B4;
    margin-top: -10px;
    margin-right: 5px;
}

.forumInteractions {
    width: 3%;
    padding-top: 5px;
}

.forumInteractions img {
    width: 20px;
}

.forumContent {
    width: 97%;
    padding-left: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.forumInteractions .commentIcon {
    margin-top: 10px;
}

#confirmDeleteModal .roundedButtonVariant {
    margin-right: 10px !important;
}

#confirmDeleteModal .modal-xs {
    width: 400px;
}

/*discussion forum post view*/
.forumPostViewContainer {
    margin-top: 20px;
    font-size: 15px;
}

.forumPostViewBox {
    width: 100%;
    padding: 0 0 0 15px;
}

.forumPostViewBox h2 {
    font-size: 12px;
    color: #9AD2B4;
    margin-top: -10px;
    margin-right: 5px;
}

.forumPostViewBox .forumPostFilter {
    margin-top: 5px;
}

.forumPostViewMain{
    padding-bottom: 15px;
    border-bottom: solid #D0D0D0 2px;
    text-align: justify;
}

.forumPostViewMainInt {
    border-radius: 50px;
    background-color: #F4F4F4;
    margin-right: 10px;
    padding: 0 10px;
    height: 35px;
    transition: 0.5s ease;
}

.forumPostViewMainInt:hover {
    background-color: #eeeeee;
    transition: 0.5s ease;
}

.forumPostViewMainInt img {
    width: 20px;
    height: 20px;
}

.forumPostViewMainInt .forumPostViewMainCount {
    margin: 0;
    font-size: 13px;
    display: flex;
    align-items: center;
    padding: 0 5px;
    font-weight: 600;
}

.forumPostViewMainVote {
    color: #2CA464;
}

.forumPostViewMainComment {
    color: #416FBD;
}

.forumPostViewMainReport {
    color: #FF2147;
}

.forumPostViewMainDelete {
    color: black;
}

.forumPostFilter p {
    font-size: 14px;
    margin: 0;
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.forumPostFilter button {
    background-color: transparent;
    border-radius: 50px;
    font-size: 14px;
    color: #3E3E3E;
    padding: 0 10px;
    border: none;
    margin-right: 2.5px;
}

.forumPostFilter button:focus {
    outline: none;
    background-color: #E3EDFF;
    border-radius: 50px;
    padding: 0 10px;
}

.forumPostRecoContainer {
    background-color: #F4F4F4;
    border-radius: 15px;
    padding: 15px 0;
}

.forumPostRecoContainer h3 {
    font-size: 20px;
    color: #3E3E3E;
    font-family: Lexend;
    font-weight: 600;
}

.forumPostRecoContainer h2 {
    font-size: 12px;
    color: #3E3E3E;
    margin-top: -7.5px;
    margin-right: 5px;
    margin-bottom: 0;
}

.forumPostRecoBox {
    background-color: transparent;
    padding: 10px 15px 20px 15px;
    margin: 0 !important;
    border-bottom: solid #2CA464 2px;
}

.forumPostViewComments {
    display: flex;
    width: 100%;
    font-family: Lexend;
}

.forumPostViewComments img {
    width: 35px;
}

.forumPostViewComments h2 {
    margin-top: 0;
    color: #3E3E3E;
    font-weight: 600;
}

.forumPostViewContent {
    padding-left: 5px;
    padding-top: 10px;
}

.forumPostViewContentBox {
    padding-left: 10px;
    text-align: justify;
    border-left: solid #D0D0D0 2px;
}

.forumPostViewContentBox p {
    margin: 0;
    padding: 0;
}

.forumPostViewContentBox .forumPostViewMainInt {
    border-radius: 50px;
    background-color: transparent;
    margin-right: 10px;
    padding: 0 5px;
    padding-left: 0;
    margin-left: 0;
    height: 35px;
}

.forumPostViewContentBox img {
    width: 15px;
    height: 15px;
}

.forumPostViewContentBox .forumPostViewContentInt p {
    font-size: 12px;
}

.forumPostViewContentBox .forumPostViewContentInt {
    padding-left: 0;
}

.forumCommentMargin {
    margin: 0 !important;
    padding: 0 !important;
}

.forumCommentContainer {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    font-family: Lexend;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    border: solid #D0D0D0 2px !important;
    border-radius: 15px;
}

.forumCommentContainer textarea {
    width: 100%;
    min-height: 80px;
    border: none;
    color: #3E3E3E;
}

.forumCommentContainer .roundedButton {
    font-size: 15px;
}

.forumCommentContainer .roundedButtonVariant {
    font-size: 15px;
    margin-right: 10px;
}


.forumCommentContent {
    width: 100%;
    padding: 10px;
}

.forumCommentContainer textarea:focus {
    outline: none;
}

.threadReply {
    margin: 0 !important;
    padding: 0 !important;
}

.threadReply .threadReplyLine {
    margin-left: 40px;
    padding-left: 10px;
    border-left: solid #D0D0D0 2px;
}

.threadReply .forumCommentContainer {
    margin: 0 !important;
    padding: 0 !important;
    border-left: solid #D0D0D0 2px !important;
}

.threadReply .forumCommentContainer textarea {
    min-height: 50px;
    border: none;
    color: #3E3E3E;
}

.forumPostViewCommentReply {
    padding-inline-start: 2.75%;
}

#forumPostViewCommentReplySubmit {
    width: 100%;
    top: 100%;
}

.popover-content {
    font-family: Lexend;
}

.adminBasicStats {
    margin: 10px 20px;
}

.adminBasicStatsContainer {
    padding-bottom: 30px;
    border-bottom: solid #D0D0D0 2px;
}

.adminBasicStatsContainer img {
    width: 50px;
}

.adminBasicStatsContainer h3 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;
}

.adminBasicStatsContainer h1 {
    font-size: 60px;
    font-weight: 600;
    padding: 0px !important;
    margin-top: -10px;
    margin-bottom: -10px;
}


.adminBasicStatsContainer .col-3 .adminBasicStatsBox {
    width: 100%;
    border-radius: 15px;
    border: solid black 3px;
}

.adminBasicStatsBoxUser {
    border-color: #2CA464 !important;
    color: #2CA464 !important;
    background-color: #F3FFF9;
}

.adminBasicStatsBoxUser h1 {
    color: #2CA464;
}

.adminBasicStatsBoxUser .adminBasicStatsBoxFooter {
   background-color: #2CA464 !important;
}

.adminBasicStatsBoxOnline {
    border-color: #d5af4d !important;
    color: #d5af4d !important;
    background-color: #fffcef;
}

.adminBasicStatsBoxOnline h1 {
    color: #d5af4d;
}

.adminBasicStatsBoxOnline .adminBasicStatsBoxFooter {
   background-color: #d5af4d !important;
}

.adminBasicStatsBoxRegister {
    border-color: #e56353 !important;
    color: #e56353 !important;
    background-color: #fff1ef;
}

.adminBasicStatsBoxRegister h1 {
    color: #e56353;
}

.adminBasicStatsBoxRegister .adminBasicStatsBoxFooter {
   background-color: #e56353 !important;
}

.adminBasicStatsBoxVisitor {
    border-color: #3B97D3 !important;
    color: #3B97D3 !important;
    background-color: #E7F5FF;
}

.adminBasicStatsBoxVisitor h1 {
    color: #3B97D3;
}

.adminBasicStatsBoxVisitor .adminBasicStatsBoxFooter {
   background-color: #3B97D3 !important;
}

.adminBasicStatsContainer .col-3 .adminBasicStatsBox .adminBasicStatsBoxContent {
    margin: 20px 0 20px 20px;
}

.adminBasicStatsContainer .col-3 .adminBasicStatsBox .adminBasicStatsBoxFooter {
    display: block;
    bottom: 0;
    height: 10px;
    border-radius: 0 0 15px 15px;
}

.adminMainStatsContainer {
    padding-top: 30px;
}

.adminMainStatsContainer .adminMainStatsBox {
    border-radius: 15px;
    border: solid #D0D0D0 2px;
    width: 100%;
    height: 375px;
}

/*content for review / reported users*/
.adminReviewContainer {
    border-radius: 5px;
    border: solid #D0D0D0 2px;
    background-color: white;
    width: 100%;
    padding: 15px !important;
    overflow: hidden;
}

.adminReviewContainer .col-12 {
    margin: 10px 0;
}

.adminReviewContainerHeader {
    color: white;
    width: 100%;
    background-color: #2CA464;
    margin: 0 !important;
}

.adminReviewContainerHeader p {
    color: white;
    padding: 10px 0;
    margin: 0 !important;
}

.adminReviewContainerContent {
    display: flex;
    border-bottom: solid #D0D0D0 2px;
    height: 150px;
}

.adminReviewContainerContent img {
    width: 35px;
    margin: 5px 0;
}

.adminReviewContainerContent p {
    margin: 0 !important;
    padding: 10px;
    text-align: center;
}

.adminSearch {
    width: 250px;
    background-color: #ffffff;
    font-size: 15px;
    border-radius: 5px;
    border: solid #D0D0D0 2px;
    padding: 5px 15px;
    margin-right: 10px;
}

.adminReviewContainer select:focus {
    outline: none;
    transition: 0.5s;
}

.adminReviewContainer select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: solid #D6D6D6 2px;
    border-radius: 5px;
    font-family: Lexend;
    padding: 5px 15px;
    width: 125px;
    margin-bottom: 5px;
    color: #3E3E3E;
    font-size: 15px;
    background-image: url("../img/dropdown.png");
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: right 15px center;
}

.adminFilter {
    display: flex;
}

.reportButton {
    cursor: pointer;
}